body
{
    background-color: aliceblue;
}
#ans-screen-1-bg
{
    height: auto;
    background-color: rgb(229, 242, 253);
    margin-top: 0;
    padding: 25px;
}
#and-screen-1
{
    margin-top: 10px;
}
#and-screen-1 h3{
    font-weight: bold;
    font-size: 23px;
    text-align: center;
}
.ans-quest
{
    margin-top: 20px;
    background-color: rgb(225, 242, 255);
    padding: 15px;
    border-radius: 10px;
    border: 1px solid black;
}
.ans-quest input{
    margin-top: 15px;
    text-align: center;
    justify-content: center;
    margin-left: 43%;
    height: 25px;
    width: 200px;
    border: none;
    border-radius: 20px;
    background-color: rgb(249, 249, 249);
}
.ans-quest input:hover{
    box-shadow: 0px 1px 11px black;
}
#back-btn
{
    margin-top: 50px;
    margin-left: 30px;
    width: 40px;
    border-radius: 50%;
    background-color: rgb(64, 110, 247);
}
#back-btn:hover{
    box-shadow: 1px 2px 15px 0px rgba(0,0,0,0.75);
}
#type-ans
{
    margin-top: 30px;
    width: 1400px;
    height: 200px;
    background-color: rgb(243, 243, 254) ;
    border: none;
    border-radius: 30px;
    resize: none;
    padding: 20px;
    font-size: 16px;
}
#ans-text
{
    display: none;
}