.answer_users
{
    padding: 20px;
}
#back-btn
{ 
     margin-top: 50px;
    margin-left: 30px;
    width: 40px;
    border-radius: 50%;
    background-color: rgb(64, 110, 247);
}
#back-btn:hover{
     box-shadow: 1px 2px 15px 0px rgba(0,0,0,0.75);
}
.Question_div
{
    background-color: azure;
    padding: 10px;
    border: 1px solid red;
    border-radius: 10px;
}
.Question_div h2
{
  width: 104px;
  border-bottom:  2px solid red ;
  padding:2px;
}
.Answer_div
{
    margin-top: 20px;
    background-color: azure;
    padding: 10px;
    border: 1px solid rgb(115, 255, 187);
    border-radius: 10px;
}